<div class="main">
  <div class=row><div class="col-sm-4"></div>
  <div class="col-sm-4 card ">
   
  <div class="form-group mt-3">
  <form (ngSubmit)="Addproduct()" class="form">
  <input class="form-control" type="number" placeholder="product Id"  name="name" [(ngModel)]="productItem.productId"><br>
  <input class="form-control" type="text" placeholder="product name" name="name1" [(ngModel)]="productItem.productName"><br>
  <input class="form-control" type="text" placeholder="product Code" name="name2" [(ngModel)]="productItem.productCode"><br>
  <input class="form-control" type="text" placeholder="release date" name="name3" [(ngModel)]="productItem.releaseDate"><br>
  <input class="form-control" type="text" placeholder="description" name="name4" [(ngModel)]="productItem.description"><br>
  <input class="form-control" type="number" placeholder="price" name="name5" [(ngModel)]="productItem.price"><br>
  <input class="form-control" type="number" placeholder="star rating" name="name6" [(ngModel)]="productItem.starRating"><br>
  <input class="form-control" type="text" placeholder="image" name="name7" [(ngModel)]="productItem.imageUrl"><br>
  <button type= "submit" class="btn btn-primary">Submit</button>
   </form>
</div>
</div></div></div>
